# Ignore node_modules directory
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
/.pnp
.pnp.js

# Build output
dist/
build/

# Runtime data
*.pid
*.pid.lock

# Editor/IDE settings
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
.env.*.local

# Debugger output
coverage/

